<p id="notice"><%= notice %></p>

<p>
  <strong>Feedback response:</strong>
  <%= @feedback.feedback_response %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
